<!-- Style used for website/user -->
<link href="../../../../assignment/css/website-style.css" rel="stylesheet"/>

    <div class="container-fluid">
        <h1>Login as an AAdvantage Member</h1>

        <div ng-show="vm.message" class="alert alert-info">{{vm.message}}</div>

        <label for="username">Username</label>
        <input ng-model="username"
               type="text"
               id="username"
               class="form-control"
               placeholder="AmericanAir"/>

        <label for="password">Password</label>
        <input ng-model="password"
               type="password"
               id="password"
               class="form-control"
               placeholder="AAL2017password"/>

        <a data-ng-click="vm.login(username, password)"
           class="btn btn-primary btn-block">
            Login
        </a>

        <a class="btn btn-success btn-block"
           href="#!/register">Register</a>

        <a href="/auth/facebook" class="btn btn-primary btn-block">
            <span class="fa fa-facebook"></span>
            Facebook
        </a>

    </div>
