input.form-control, textarea.form-control {
    margin-bottom: 10px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* no space -> AND */
.navbar.navbar-default.navbar-fixed-top {
    /*padding-right: 15px;*/
}

.navbar.navbar-default.navbar-fixed-bottom {
    /*padding-right: 15px;*/
}

.navbar.navbar-default.navbar-fixed-top .navbar-header,
.navbar.navbar-default.navbar-fixed-bottom .navbar-header,
.row.navbar-text {
    width: 100%;
}

.navbar-default {
    background-color: #637a87;
    border-color: #637a87;
}

.navbar-default .navbar-brand,
.navbar.navbar-default a,
.navbar-default .navbar-link,
.container-fluid > .navbar-header {
    color: white;
}

.row .container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #137acf;
    border-color: #137acf;
}

.btn-primary {
    color: #fff;
    background-color: #637a87;
    border-color: #637a87;
}