<link href="../../../project/css/user.style.css" rel="stylesheet"/>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img width="160" src="../../../project/images/Lufthansa_Logo.png"/>
            </a>
            <p class="navbar-text pull-right">
                <a href="#!/login" class="navbar-link">
                    Login
                </a>
                |
                <a href="#!/register" class="navbar-link">
                    Register
                </a>
                <!--<span class="glyphicon glyphicon-user"></span>-->
            </p>
        </div>
    </div>
</nav>

<nav>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Plan Your Trip</a></li>
        <li><a href="#">Flight Status</a></li>
        <li><a href="#">During Your Trip</a></li>
        <li><a href="#">About</a></li>
    </ul>
</nav>