<link href="../../../../assignment/css/widget-style.css" rel="stylesheet"/>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row navbar-header">

            <div class="col-xs-5">
                <a class="navbar-brand" ng-click="vm.updateWidget(vm.wgid, vm.oldWidget)">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Widget List
                </a>
            </div>

            <div class="col-xs-7">
                <div class="navbar-header navbar-brand">
                    <a id="title" href="#!/user/{{vm.uid}}/website/{{vm.wid}}/page/{{vm.pid}}/widget/{{vm.wgid}}">
                        Edit Widget
                    </a>
                    <p class="pull-right">
                        <a ng-click="vm.updateWidget(vm.wgid, vm.widget)" class="navbar-link">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-switch="vm.widget.widgetType">
        <div ng-switch-when="HEADING">
            <div ng-include="'views/widget/editors/widget-heading-edit.view.client.html'"></div>
        </div>

        <div ng-switch-when="IMAGE">
            <div ng-include="'views/widget/editors/widget-image-edit.view.client.html'"></div>
        </div>

        <div ng-switch-when="YOUTUBE">
            <div ng-include="'views/widget/editors/widget-youtube-edit.view.client.html'"></div>
        </div>
    </div>

    <a class="btn btn-success btn-block"
       ng-click="vm.updateWidget(vm.wgid, vm.widget)">Update</a>
    <a class="btn btn-danger btn-block"
       ng-click="vm.deleteWidget(vm.wgid)">Delete</a>
</div>


<div ng-include="'views/common/footer.view.client.html'"></div>