<link href="../../../../assignment/css/widget-style.css" rel="stylesheet"/>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row navbar-header">

            <div class="col-xs-5">
                <a class="navbar-brand" href="../templates/widget-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Widget List
                </a>
            </div>

            <div class="col-xs-7">
                <div class="navbar-header navbar-brand">
                    <a id="title" href="widget-heading.html">
                        Edit Widget
                    </a>
                    <p class="pull-right">
                        <a href="../templates/widget-list.view.client.html" class="navbar-link">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-switch="model.widget.widgetType">
        <div ng-switch-when="HEADING">
            <div ng-include="'views/widget/editors/widget-heading-edit.view.client.html'"></div>
        </div>

        <div ng-switch-when="IMAGE">
            <div ng-include="'views/widget/editors/widget-image-edit.view.client.html'"></div>
        </div>

        <div ng-switch-when="YOUTUBE">
            <div ng-include="'views/widget/editors/widget-youtube-edit.view.client.html'"></div>
        </div>
    </div>

    <a class="btn btn-success btn-block"
       ng-click="model.updateWidget(model.wgid, model.widget)">Update</a>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget(model.wgid)">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="../../user/templates/profile.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
