<link href="../../../../assignment/css/widget-style.css" rel="stylesheet"/>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row navbar-header">

            <div class="col-xs-5">
                <a class="navbar-brand" href="#!/website/{{vm.wid}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Page List
                </a>
            </div>

            <div class="col-xs-7">
                <div class="navbar-header navbar-brand">
                    <a id="title" href="#!/website/{{vm.wid}}/page/{{vm.pid}}/widget">
                        Widget List
                    </a>
                    <p class="pull-right">
                        <a href="#!/website/{{vm.wid}}/page/{{vm.pid}}/widget/new" class="navbar-link">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
<div class="widget-list" wbdv-directives="">
    <div ng-repeat="widget in vm.widgets" class="wd-widget">
        <div class="wd-widget-toolbar">
            <a href="#!/website/{{vm.wid}}/page/{{vm.pid}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <a href="">
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
        </div>
        <div ng-include="vm.widgetUrl(widget)"></div>
    </div>
</div>

</div>

<!-- content between ' ' is a variable -->
<div ng-include="'views/common/footer.view.client.html'"></div>
