<br>
<label for="name">Name</label>
<input type="text"
       id="name"
       ng-model="vm.widget.name"
       ng-class="{submitted:vm.submitted}"
       placeholder="Widget Name"
       class="form-control" required/>
<div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>

<label for="text">Text</label>
<input type="text"
       id="text"
       ng-model="vm.widget.text"
       placeholder="Widget Text"
       class="form-control"/>

<label for="url">URL</label>
<input type="text"
       value="https://youtu.be/LXb28mVZiJo"
       id="url"
       ng-model="vm.widget.url"
       placeholder="eg: https://youtu.be/example"
       class="form-control"/>

<label for="width">Width</label>
<input type="text"
       id="width"
       value="100%"
       ng-model="vm.widget.width"
       placeholder="eg: 100%"
       class="form-control"/>
