<br>
<label for="name">Name</label>
<input type="text"
       id="name"
       ng-model="vm.widget.name"
       ng-class="{submitted:vm.submitted}"
       placeholder="Widget Name"
       class="form-control" required/>
<div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>

<label for="text">Text</label>
<input type="text"
       id="text"
       ng-model="vm.widget.text"
       placeholder="Widget Text"
       class="form-control"/>

<label for="url">URL</label>
<input type="text"
       value="http://s21.q4cdn.com/616071541/files/doc_downloads/Images/American-777-300ER-with-New-Livery.jpg"
       id="url"
       placeholder="eg: http://www.cdn.com/example.jpg"
       ng-model="vm.widget.url"
       class="form-control"/>

<label for="width">Width</label>
<input type="text"
       value="100%"
       id="width"
       ng-model="vm.widget.width"
       placeholder="eg: 100%"
       class="form-control"/>

<label>Search photos on Flickr</label>
<a class="btn btn-info btn-block" href="#!/website/{{vm.wid}}/page/{{vm.pid}}/widget/{{vm.widget._id}}/search">
    Search
</a>

<label>Upload photo from your device</label>
<form action="/api/upload"   method="post" enctype="multipart/form-data">
    <input  name="myFile"    type="file" class="form-control"/>
    <input  name="width"     value="{{vm.widget.width}}" style="display: none"/>
    <input  name="userId"    value="{{vm.uid}}"   style="display: none"/>
    <input  name="websiteId" value="{{vm.wid}}"   style="display: none"/>
    <input  name="pageId"    value="{{vm.pid}}"   style="display: none"/>
    <input  name="widgetId"  value="{{vm.widget._id}}"   style="display: none"/>
    <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
</form>

