<br>
<label for="name">Name</label>
<input type="text"
       id="name"
       ng-model="vm.widget.name"
       placeholder="Widget Name"
       class="form-control"/>

<label for="text">Text</label>
<input type="text"
       value="American Airlines Group Reports Record April Traffic Results"
       id="text"
       placeholder="Widget Text"
       ng-model="vm.widget.text"
       class="form-control"/>

<label for="size">Size</label>
<select id="size"
        class="form-control"
        ng-model="vm.widget.size">
    <option value="1">1 (Largest)</option>
    <option value="2">2 (Very Large)</option>
    <option value="3">3 (Large)</option>
    <option value="4">4 (Medium)</option>
    <option value="5">5 (Small)</option>
    <option value="6">6 (Very Small)</option>
</select>
