<br>
<label for="name">Name</label>
<input type="text"
       id="name"
       ng-model="vm.widget.name"
       ng-class="{submitted:vm.submitted}"
       placeholder="Widget Name"
       class="form-control" required/>
<div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>

<label for="text">Text</label>
<input type="text"
       value="American Airlines Group Reports Record April Traffic Results"
       id="text"
       placeholder="Widget Text"
       ng-model="vm.widget.text"
       class="form-control"/>

<label for="size">Size</label>
<select id="size"
        class="form-control"
        ng-model="vm.widget.size"
        ng-options="option.size as option.title for option in vm.options">
    <option value="">Select a size</option>
</select>
