<title>Get the all the Flight Information of a particular Airport</title>
<body>
<div class="container">
    <br>

    <h1>Flight Information (Departures) Response</h1>

    <div class="row">
        <div class="col-xs-4">
            <label for="airport">Airport</label>
            <input type="text"
                   class="form-control"
                   ng-model="vm.airport"
                   placeholder="eg: FRA"
                   id="airport"/>
        </div>
        <div class="col-xs-4">
            <label for="date">Date</label>
            <input type="date"
                   class="form-control"
                   ng-model="vm.date"
                   placeholder="eg: yyyy-MM-dd"
                   id="date"/>
        </div>
        <div class="col-xs-2">
            <label for="time_start">Time Start</label>
            <input type="text"
                   class="form-control"
                   ng-model="vm.timeStart"
                   placeholder="eg: 09:00"
                   id="time_start"/>
        </div>
        <!--<div class="col-xs-2">-->
            <!--<label for="time_end">Time End</label>-->
            <!--<input type="text"-->
                   <!--class="form-control"-->
                   <!--ng-model="vm.timeEnd"-->
                   <!--placeholder="eg: 18:00"-->
                   <!--id="time_end"/>-->
        <!--</div>-->
        <div class="col-xs-2">
            <label></label>
            <a ng-click="vm.getAllFlightInformationByAirport(vm.airport, vm.date, vm.timeStart)"
               class="btn btn-block btn-primary">
                Search
            </a>
        </div>
    </div>
    <br/>
    <div ng-show="vm.flights">
        <h3 id="FlightHeader">Flights Departing from {{vm.oldAirport}}</h3>
        <div class="table-responsive">
            <table class="table table-striped" id="table">
                <thead>
                <tr>
                    <td>Departure from</td>
                    <td>Departure Time Local</td>
                    <td>Departure Time Status</td>
                    <td>Gate Departure</td>
                    <td>Arrival At</td>
                    <td>Arrival Time Local</td>
                    <td>Arrival Time Status</td>
                    <td>Terminal Arrival</td>
                    <td>Operating Flight Number</td>
                    <td>FlightStatus</td>
                    <td></td>
                </tr>
                </thead>

                <tbody ng-repeat="flight in vm.flights" id="tbody">
                    <tr>
                        <td>{{flight.Departure.AirportCode}}</td>
                        <td>{{flight.Departure.ActualTimeLocal.DateTime}}</td>
                        <td>{{flight.Departure.TimeStatus.Definition}}</td>
                        <td>{{flight.Departure.Terminal.Gate}}, T{{flight.Departure.Terminal.Name}}</td>
                        <td>{{flight.Arrival.AirportCode}}</td>
                        <td>{{flight.Arrival.ActualTimeLocal.DateTime}}</td>
                        <td>{{flight.Arrival.TimeStatus.Definition}}</td>
                        <td>{{flight.Arrival.Terminal.Name}}</td>
                        <td>{{flight.OperatingCarrier.AirlineID}}{{flight.OperatingCarrier.FlightNumber}}</td>
                        <td>{{flight.FlightStatus.Definition}}</td>
                        <td><a href="#!/operations/flightstatus/{{flight.OperatingCarrier.AirlineID}}{{flight.OperatingCarrier.FlightNumber}}/{{vm.dateFormat}}">More Info</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <!--<pre class="pre-scrollable">-->
    <!--</pre>-->
</div>

<script type="text/javascript">

</script>
</body>